#standard-kataloger for deriverte data
target/
activemq-data/
build/
bin/
dist/
vendor/

#eclipse
.settings
.cache/
.classpath
.project
.directory/

#intellij
.idea/
*.iml
*.ipr
*.iws
# Scala worksheet i IntelliJ:
*.sc

#netbeans
nb-configuration.xml
nbproject/
nbactions.xml

#annet
*~
.DS_Store
.metadata/
.m2/
*.pyc
profiles.xml
rebel.xml
# Symlink til target-katalogen:
target
